.about-product {
  padding: 0 20px;
}

.about-product__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 40px 0;
  padding: 0;
}

.about-product__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0 0 49px 0;
}

.about-product__item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.about-product__text {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.about-product__img {
  flex-shrink: 0;
  align-self: flex-start;
}
