.body {
  &__container {
    max-width: 320px;
    background-color: var(--white);
    margin: 0 auto;

    &-form .header::after {
      content: "";
      margin: 0 -20px;
      height: 0;
      width: 320px;
      display: block;
      border: 1px solid var(--silver);
    }

    &-catalog .header::after {
      content: "";
      margin: 0 -20px;
      height: 0;
      width: 320px;
      display: block;
      border: 1px solid var(--silver);
    }
  }
}
