.contacts__content {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
  color: var(--black-1);
  max-width: 139px;
}

.contacts__text {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: $spacial-dark-grey;
}


.contacts--background {
  background-color: $basic-grey;
}

.contacts--background {
  background-color: $basic-grey;
}
