.navigation {
  padding: 10px 0 18px;

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  &__link {
    display: flex;
  }

  &__button {
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 2;
    overflow: hidden;

    span {
      width: 24px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #222222;
      transition: all 0.5s;
    }

    span:nth-of-type(2) {
      top: calc(50% - 5px);
    }

    span:nth-of-type(3) {
      top: calc(50% + 5px);
    }
  }
}

.menu-active span:nth-of-type(1) {
  display: none;
}

.menu-active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

.menu-button {

  &:before {
    content: "";
    width: 100%;
    display: block;
    height: 0;
    border: 1px solid #E6E6E6;
  }

  &__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }

  &__link span {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--black);
    padding: 22px 0 24px;
    margin: 0 auto;
    list-style: none;
  }

  &__link:after {
    content: "";
    width: 100%;
    display: block;
    height: 0;
    border: 1px solid #E6E6E6;
  }
}
