.border-bottom {
  width: 100%;
  border-bottom: 2px solid $silver;
}

.border-bottom-2 {
  width: 100%;
  border-bottom: 2px solid $silver-2;
}

.border-top {
  width: 100%;
  border-top: 2px solid $silver-2;
}
