.form-comment {
  margin: 24px 0 0 0;
}

.form-comment__legend {
  @include oswald(24px, 26px, 400);
  display: flex;
  gap: 23px;
  align-items: center;
  margin: 0 0 38px 0;
  width: 100%;

  &::after {
    content: "";
    margin: 0 -20px 0 0;
    height: 0;
    flex-grow: 1;
    display: block;
    border: 2px solid $basic-green;
  }
}

.form-comment__massage {
  width: 100%;
  height: 150px;
  padding: 10px 0 0 15px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $spacial-dark-grey;
  border: 1px solid $silver-1;
  margin: 0;
  resize: vertical;

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $spacial-dark-grey;
  }
}
