.form-extra {
  margin: 23px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.form-extra__legend {
  @include oswald(24px, 26px, 400);
  display: flex;
  gap: 23px;
  align-items: center;
  margin: 0 0 34px 0;
  width: 100%;

  &::after {
    content: "";
    margin: 0 -20px 0 0;
    height: 0;
    flex-grow: 1;
    display: block;
    border: 2px solid $basic-green;
  }
}

.form-extra__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-extra__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 16px;
}

.form-extra__input {
  display: none;
}

.form-extra__indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid $spacial-grey;
  padding: 2px;
}

.form-extra__input:checked + .form-extra__indicator::after {
  content: "";
  position: absolute;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 26px;
  height: 26px;
}

.form-extra__text {
  @include oswald(16px, 18px, 400);
  text-transform: uppercase;
}
