@font-face {
  font-family: "Lato";
  src: local("Lato Regular"),
    url("../../fonts/lato/lato-regular.woff2") format("woff2"),
    url("../../fonts/lato/lato-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald Regular"),
    url("../../fonts/oswald/oswaldregular.woff2") format("woff2"),
    url("../../fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald Medium"),
    url("../../fonts/oswald/oswaldmedium.woff2") format("woff2"),
    url("../../fonts/oswald/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
