$spacial-dark-grey: #444444;
$white: #ffffff;
$white-1: #eaeaea;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$dark-grey: #222222;
$black: #000000;
$black-1: #111111;
$silver: #d9d9d9;
$palepink: #ebebeb;
$silver-1: #e7e7e7;
$silver-2: #e6e6e6;
$spacial-grey: #cdcdcd;
$special-grey-2: #666666;
